.btn{

    height:40px;

    padding:0 18px;

    border:none;

    border-radius:12px;

    cursor:pointer;

    font-weight:600;

    transition:.25s;

    display:flex;

    align-items:center;

    justify-content:center;

    gap:8px;

}

.btn:hover{

    transform:translateY(-2px);

}

.btn-primary{

    background:#2563EB;

    color:white;

}

.btn-primary:hover{

    background:#3B82F6;

}

.btn-secondary{

    background:#334155;

    color:white;

}

.btn-warning{

    background:#D97706;

    color:white;

}

.btn-danger{

    background:#DC2626;

    color:white;

}